# Standard node stuff
node_modules/
yarn-error.log

# Parcel stuff
dist/
build/
.cache/

# Jest stuff
coverage/
/nos-dapp-cryptofolio.iml
/nos-dapp-cryptofolio-boot/nos-dapp-cryptofolio-boot.iml
/package-lock.json
